@font-face {
  font-family: Cinzel;
  src: url(fonts/Cinzel-VariableFont_wght.woff2);
}
@font-face {
  font-family: Playfair;
  src: url(fonts/PlayfairDisplay-VariableFont_wght.woff2);
}
@font-face {
  font-family: Bebas;
  src: url(fonts/BebasNeue-Regular.woff2);
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-VariableFont_wght.woff2);
}

:root {
  --bg-dark: oklch(0.1 0 20);
  --bg: oklch(0.15 0 20);
  --bg-light: oklch(0.2 0 20);
  --text: oklch(0.96 0 20);
  --text-muted: oklch(0.76 0 20);
  --highlight: oklch(0.5 0 20);
  --border: oklch(0.4 0 20);
  --border-muted: oklch(0.3 0 20);
  --font-0: Cinzel, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-1: Playfair, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-2: Bebas, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-3: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  background-color: var(--bg);
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#createBtn {
  position: relative;
  color: var(--text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  border: 1px solid var(--text);
  width: fit-content;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 10px;
  z-index: 99;
  transition: all 0.3s ease-out;
  &:hover {
    background-color: var(--text);
    border-color: var(--text);
    color: var(--bg-dark);
  }
  &:active {
    scale: 1.1;
  }
}

.quote {
    white-space: nowrap;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    transition: top 1s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
    }
}
